/* Helper classes */
.text-danger {
    color: var(--color-red) !important;
}

.bg-danger {
    background-color: var(--color-red) !important;
}

.border-danger {
    border-color: var(--color-red) !important;
}

.text-warning {
    color: var(--color-gold) !important;
}

.bg-warning {
    background-color: var(--color-gold) !important;
}

.border-warning {
    border-color: var(--color-gold) !important;
} 